@using Practice.Core.Enums
@model Practice.Web.Models.AccountViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Register">
    <div class="form-horizontal">
        <h4>RegisterViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sex" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Sex" asp-items="Html.GetEnumSelectList<Sex>()"></select>
                <span asp-validation-for="Sex" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaritalStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="MaritalStatus" asp-items="Html.GetEnumSelectList<MaritalStatus>()"></select>
                <span asp-validation-for="MaritalStatus" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="NumberOfChildren" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumberOfChildren" class="form-control" />
                <span asp-validation-for="NumberOfChildren" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfEmployment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOfEmployment" class="form-control" />
                <span asp-validation-for="DateOfEmployment" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
